.restaurant-card {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .restaurant-card h3 {
    margin-top: 0;
    font-size: 1.25rem;
  }
  
  .restaurant-card p {
    font-size: 1rem;
    margin: 4px 0;
  }
  
  .cancel {
    color: white;
    background-color: orange;
    border-radius: 20%;
  }